<div class="container-grid text-center">
  <%= render "shared/slider" %>
  <%= render "shared/menu" %>
  <div class="products">
    <h1>Cocktails</h1>
    <div id="cocktails">
      <% @cocktails.each do |cocktail| %>
        <%= render cocktail %>
      <% end %>
    </div>
  </div>
</div>
</div>
<%= link_to "New cocktail", new_cocktail_path %>
