<div class="container-grid text-center">
  <%= render partial:"shared/slider" %>
  <%= render partial: "shared/menu", locals: {categories: @categories} %>
  <div class="products">
    <h1>Cocktails</h1>
    <div id="cocktails">
      <% @cocktails.each do |cocktail| %>
        <%= render cocktail %>
      <% end %>
    </div>

  </div>


</div>
