<p style="color: green"><%= notice %></p>
<h1>Cocktails</h1>
<div id="cocktails">
  <% @cocktails.each do |cocktail| %>
    <%= render cocktail %>
  <% end %>
</div>
<%= link_to "New cocktail", new_cocktail_path %>
