body {
  background-color: #F1FAEE;
}

a {
  background-color: #E63946;
  padding: 1rem 2rem;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  text-align: center;
}

#cocktails {
  display: flex;
}
