body {
  background-color: #FFFDED;
}

.products {
  grid-column-end: span 9;
}

.container-grid a {
  background-color: #6A2C70;
  padding: 1rem 2rem;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  text-align: center;
}

#cocktails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container-grid {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: .5rem;
  margin: 6rem 1rem;
}

.logo {
  width: 10rem;
}

.footer {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
}

@media screen and (min-width: 576px) {
  .container-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    width: 100%;
    max-width: 70rem;
    grid-gap: 2rem;
    margin: 2rem;
    box-sizing: border-box;
  }

  #cocktails {
    grid-column-end: span 3;
  }
}
