body {
  background-color: #FFFDED;
}

container-grid a {
  background-color: #E63946;
  padding: 1rem 2rem;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  text-align: center;
}

#menu {
  display: grid;
  grid-column-end: span 3;
}

#cocktails {
  display: grid;
  flex-wrap: wrap;
  grid-column-end: span 9;
}

.container-grid {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: .5rem;
}
