@media screen and (min-width: 576px) {
  .container-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    width: 100%;
    max-width: 70rem;
    grid-gap: 2rem;
    margin: 0 auto;
    box-sizing: border-box;
  }

  #cocktails {
    grid-column-end: span 3;
  }
}
