<div style="grid-column-end: span 3">
  <div id="menu">
    <h2>Categorías</h2>
    <div class="category-buttons">
      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div style="display:flex"><%= link_to "Agregar Producto🛒", new_cocktail_path, class: "buttons_primary" %></div>
</div>
