.navbar {
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-sizing: border-box;
}

.navbar-top {
  justify-content: space-between;
  background: white;
}

.navbar-top .navbar-collapse {
  flex-grow: 0;
}

.navbar-top .navbar-brand img {
  width: 104px;
}

@media screen and (min-width: 576px) {
  .navbar {
    display: none;
  }
}
